dist: trusty

language: java

jdk:
- oraclejdk8

addons:
  sonarcloud:
    organization: "$SONAR_ORGANIZATION"
    token:
      secure: "$SONAR_TOKEN"

script:
- ./mvnw install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
- mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar

cache:
  directories:
  - '$HOME/.m2/repository'
  - '$HOME/.sonar/cache'
